<wicket:panel>
	<div id="summaryPopupPanel" style="width: 100px; height: 500px; text-align:center;">
		<br />

		<form wicket:id="form">
			StartDate <div wicket:id="lastestStartDate"></div><br> 
			EndDate <div wicket:id="lastestEndDate"></div><br>
			<div wicket:id="summaryPanel"></div>
			<div>================================================================================</div>
			startDate<input type="text" wicket:id="startDate"></input> endDate<input
				type="text" wicket:id="endDate"></input> <input type="button"
				wicket:id="gotoSummaryReport" id="" value="More Summary"></input>
			<!-- <br /> <input type="button" wicket:id="close" value="Close" />-->
		</form>
	</div>

</wicket:panel>
